@use '../util/' as u;
.ribbon {
  @include u.breakpoint-down(mediumSm) {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
  }

  width: 100%;
  color: var(--primary-clr-700);
  font-size: var(--font-sm);
  font-weight: var(--fw-s-500);
  &:hover {
    text-decoration: underline;
  }
  &__wrapper {
    height: 2.5rem;
    padding-block: u.rem(10);
    background-color: var(--white);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  }
  &__message {
    white-space: nowrap;
    margin-inline: u.rem(8);
  }
  &__arrow {
    padding-top: u.rem(4);
  }
  &__long-arrow {
    color: var(--icon-clr-200);
  }
}
